!!!
%hmtl
%head
	%title Lugayo's Rails Forum
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	%link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato:400,700,300", type: "text/css"}
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header.main_header.clearfix
		.wrapper
			#logo
				%p Lugayo's Rails Forum
			#buttons
				= link_to "New Post", new_post_path	
		
	.wrapper		
		%p.notice= notice
		%p.alert= alert

	.wrapper
	= yield